.expense-chart {
  width: 100%;
  background-color: var(--gunmetal);
  margin-top: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
}

@media (max-width: 480px) {
  .expense-chart {
    flex-wrap: wrap;
    row-gap: 1rem;
  }
}
